
body{
margin: 0px;
}


.header-container{
  background: url('../uploads/images/hbg.png')center center no-repeat;
  margin: 0 auto;
  max-width: 100%;
  height: 300px;
  padding: 15px 0px 0px 15px;
}
.menu{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.menu ul{
    margin: 0px 0px 0px 0px;
    width: 50%;
    text-align: center;
    display:inline;
    padding:15px;
    width:100%;
    height:55px;
    background: #00000078;
    color: #fff;
}
.header{

}
.logo{

}
.scroll{

}

.body-container{
margin: 0px 0px 0px 0px; 
padding: 50px 20px 0px 20px;
text-align:center;
position:relative;
}
.b1{
width:32.33%;
margin: 0px 5px 5px 5px;
    border: 4mm ridge rgb(0 0 0);
    height: 150px;
    background: #787878;
    color: #fff;
    box-sizing: border-box;
    display: inline-block;
}
.b2{
width:32.33%;
margin: 0px 5px 5px 5px;
    border: 4mm ridge rgb(0 0 0);
    height: 150px;
    background: #787878;
    color: #fff;
    box-sizing: border-box;
    display: inline-block;
}
.b3{
width:32.33%;
margin: 0px 5px 5px 5px;
    border: 4mm ridge rgb(0 0 0);
    height: 150px;
    background: #787878;
    color: #fff;
    box-sizing: border-box;
    display: inline-block;
}
.title-1{
float:right;
color: #db919c;
font-size: 14px;
position: relative;
background: #1545f5;
padding: 5px;
margin-left:5px;
}
.title-2{
float:right;
color: #fff;
font-size: 14px;
position: relative;
background: #bd0f37;
padding: 5px;
margin-left:5px;
}
.title-3{
float:right;
color: #a5a00a;
font-size: 14px;
position: relative;
background: #0c7e0a;
padding: 5px;
margin-left:5px;
}
.block p{
  padding: 25px 20px 25px 20px;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .b1 {
    width:32.33%;
    float:left;
  }
  .b2 {
    width:32.33%;
    float:left;
  }
  .b3 {
    width:32.33%;
    float:left;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .b1 {
    width: 48.5%;
    float:left;
  }
  .b2 {
    width: 48.5%;
    float:left;
  }
  .b3 {
    width:100%;
    float:left;
  }
  body {
    background-color: blue;
  }
}


/********** Small devices only **********/
@media (max-width: 767px) {
  .b1 {
    width: 100%;
    float:left;
  }
  .b2 {
    width: 100%;
    float:left;
  }
  .b3 {
    width: 100%;
    float:left;
  }
  body {
    background-color: green;
  }
}
